body{
	margin-left: 0px;
	margin-top: 0px;
	background-color: #F2F2F2;
    font-family: Arial;
    	overflow: hidden;

}

@font-face {
	    font-family: 'Suisse';
	    src: url("typo/suisseintl-regular_0.otf") format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}

}

	@font-face {
	    font-family: 'Wingdings';
	    src: url('typo/wingding.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}

@font-face {
	    font-family: 'Lexend';
	    src: url('typo/Lexend-Regular.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}

@font-face {
	    font-family: 'Outlook';
	    src: url('typo/outlook.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}

.typo_wingding{
	    font-family: Wingdings;
	line-height: 1em;

}

.projet_lien{	text-decoration: none;
	font-style: italic;}

.projet_lien:hover{
	text-decoration: underline;
	font-style: normal;
}

#le_gros_texte{
width: 100%;
margin-left: 0%;
margin-top: 0vh;
height: 100vh;
display: flex;
font-size: 3em; 
margin-left: 2%; 
margin-top: 2%; 
line-height: 1.3em;
	cursor: context-menu;
}


#gauche{
  width: 100%;
  height: 100%;
}




#texte{
	text-decoration: none;
	color:rgb(0,0,0);
	margin-top: 0px;
	line-height: 1.2em;
	cursor: context-menu;
}

a{
	cursor: pointer;
	color: black;
	text-decoration: underline;
}

.pointer{
}


#en_ligne{
	display: flex;
}

#main{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	padding-top: 7px;
}


 /*/////BOITE MENU/////*/


.category{
	position: absolute;
	right: 20px;
	top: 20px;
}

.wingdings_txt{
font-family: Wingdings;
line-height: 1.05em;
}

.emoji{
font-family: Wingdings;
font-size: 1.5em;
margin-left: 	auto;
margin-right: auto;
-webkit-text-stroke: 0.4px;
}


.bouton_lien{
cursor: pointer;
margin: 5px;
margin-bottom: 15px;
}


.txt_menu{
	width: 300px;
	transform: translate(-100%,0%);
	text-align: right;
}


#bouton_emoji_liste{
	font-size: 1.8em;
	-webkit-text-stroke: 0.3px;

}

#bouton_liste{
	margin-bottom: 10px;
}

a{
	color: black;
	text-decoration: none;	
}

a:hover{
	color: black;
	cursor: pointer;
}


#text{
  display: flex;
  flex-direction: column;
  align-items: center;}


      #text a p {
        pointer-events: none;
        display: none; }


      #text a:hover p {
        display: block;
        position: absolute;
         }



 /*/////version tel/////*/



#sur_tel{
	display: none;
}


#txt_tel{
	font-size:1.8em ;
	padding-top: 20%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}


#phrase_ordi_main{
	display: inline-flex;
	margin-top: 20px;
}

#doigt{ 
font-size:1.5em; 
margin-top: -5px;
margin-left: 10px;}


 /*/////YEUX/////*/


.d{
	fill:#fff;
	stroke:#000;
	stroke-miterlimit:15;
}


#les_yeux{
	position: absolute;
	left: 60%;
	top: 65%;
}


.pupille{
	animation-delay: 4s;
  animation-name: roll;
  animation-duration: 1s;
animation-iteration-count: 2;
animation-timing-function:linear;
}




        @keyframes roll {
          0%   {transform: translate(0px); }
          5%   {transform: translate(0px); }
          7.5%  {transform: translate(1.5px, -3px);}
          10%  {transform: translate(3px, -5px);}
          11.5%  {transform: translate(5.5px, -6.5px);}  
          13.5%  {transform: translate(8px, -8.5px);}          
          15%  {transform: translate(10px, -10px);}
          16.5%  {transform: translate(13.5px, -8.5px);}
          18.5%  {transform: translate(16.5px, -6.5px);}
          20%  {transform: translate(20px, -5px);}         
          27%  {transform: translate(23px, 15px);}
          35%  {transform: translate(20px, 35px);}
          40%  {transform: translate(10px, 48px);}
          45%  {transform: translate(0px, 35px);}
          50%  {transform: translate(-3px, 15px);}
          55%  {transform: translate(0px); }
        }


    @media (max-width:700px){
        .category {
display: none;
        }

        #le_gros_texte {
display: none;
        }


#sur_tel{
	display:block;}




    }


